.position {
  position: relative;
}
.container {
  position: relative;
  display: flex;
  gap: 15px;
  margin-top: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.anchor {
  display: flex;
  gap: 50px;
}
.buttonNext {
  padding: 10px 5px;
  border-radius: 15px;
  border: solid 2px #f2bc12;
  background-color: #f2bc12;
  font-family: "Handjet", sans-serif;
  color: white;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.buttonPrevious {
  padding: 10px 5px;
  border-radius: 15px;
  border: solid 2px #f2bc12;
  background-color: #f2bc12;
  font-family: "Handjet", sans-serif;
  color: white;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  left: 0px;
  bottom: 20px;
}
.whatIdo {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 15px;
}
@media (max-width: 1220px) {
  .whatIdo {
    display: block;
    padding-bottom: 80px;
  }
  .library {
    margin-top: 20px;
  }
}
@media (max-width: 850px) {
  .whatIdo,
  .anchor_inner {
    margin-left: 50px;
  }
}
@media (max-width: 450px) {
  .buttonNext,
  .buttonPrevious {
    font-size: 12px;
  }
}
