.position {
  position: relative;
}
.container {
  position: relative;
  display: flex;
  gap: 15px;
  margin-top: 15px;
  justify-content: center;
  flex-wrap: wrap;
}
.projectItem {
  padding-right: 15px;
}
img {
  display: flex;
  justify-content: center;
}
.positionImg {
  display: flex;
  gap: 10px;
}
.positionRight {
  position: absolute;
  bottom: 10px;
  right: 43%;
  color: red;
}
.ul {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
.button {
  padding: 10px 5px;
  border-radius: 15px;
  border: solid 2px #f2bc12;
  background-color: #f2bc12;
  color: white;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.linkProject {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.whatIdo {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media (max-width: 1630px) {
  .choseLibrary {
    padding-bottom: 100px;
  }
}
@media (max-width: 850px) {
  .aboutRepair {
    margin-left: 50px;
  }
  .whatIdo {
    display: block;
  }
  .skills {
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .button {
    font-size: 12px;
  }
}
