.container {
  padding: 0px 25px;
  font-size: 36px;
}

.container_inner {
  padding: 150px 25px;
}

label {
  font-size: 22px;
}
.general {
  display: flex;
}
.img {
  width: 83px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.smallText {
  width: 63px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.exSmallText {
  width: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.backToExperience {
  padding: 10px 5px;
  border-radius: 15px;
  border: solid 2px #f2bc12;
  background-color: #f2bc12;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.more {
  cursor: pointer;
  color: #f2bc12;
}
